<%- include("../partials/header") %>

<h3 class="header">Welcome to the <%= eventInfo.venue %> Page</h3>

<section class="eventShow">
    <strong><div id="eventShow1">Venue: </div></strong>
    <div><%= eventInfo.venue%></div>
</section>

<section class="eventShow">
    <strong><div id="eventShow2">City: </div></strong>
    <div><%= eventInfo.city%></div>
</section>

<section class="eventShow">
    <strong><div id="eventShow3">Performance Date: </div></strong>
    <div><%= eventInfo.date.toLocaleString()%></div>
</section>

<section class="eventShow">
    <% if (eventInfo.artists.length) { %>
        <strong><div>Performing Acts:</div></strong>
        <ul>
            <% eventInfo.artists.forEach(function(a) { %>
                <li><%= a.name %></li>
            <% }) %>
        </ul>
    <% } else { %>
        <h3>No Performing Acts At This Time</h3>
    <% } %>
</section>

<% if (user) { %>
    <form id="add-artist" method="POST" action="/events/<%= eventInfo._id %>/artists">
        <label id="eventShow4">Add Artist:</label>
        <select name="artistId">
        <% artists.forEach(function(a) { %>
            <option value="<%= a._id %>"><%= a.name %></option>
        <%  }); %>
        </select>
        <button id="eventShow5" type="submit">Add Artist to Event</button>
    </form>

    <h3 class="header">Messages</h3>
    <form id="add-comment" method="POST" action="/events/<%= eventInfo._id %>/messages">
    <div class="form-outline">
        <textarea name="content" class="form-control" id="textAreaExample" rows="4"></textarea>
        <label class="form-label" for="textAreaExample"></label>
        <input type="submit" value="Add Message" id="m-button">
    </form>
    </div>
<% } %>


<% if (eventInfo.messages.length) { %>
<table id="messages">
    <thead>
        <tr>
            <th>User</th>
            <th>Message</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% eventInfo.messages.forEach(function(m) { %>
            <tr>
                <td class="message-user"><img src="<%= m.userAvatar %>" alt="avatar"><%= m.userName %></td>
                <td><%= m.content %></td>
                <td>
                    <% if (user?._id.equals(m.user)) { %>
                      <form action="/messages/<%= m._id %>?_method=DELETE" method="POST">
                        <button type="submit">X</button>
                      </form>
                    <% } %>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>
<% } else { %>
    <h4 id="m-none">No Messages</h4>
<% } %>    

<%- include("../partials/footer") %>