<%- include('../partials/header') %>

<form id="city-search" action="/searches/index" method="POST">
    <label>City: </label>
    <input type="text" name="city">
    <input type="submit" value="Search for Event">
</form>

<table id="list">
    <thead>
      <tr>
        <th>Venue</th>
        <th>City</th>
        <th>Performing Artists</th>
        <th>Date</th>
        <th>Details</th>
        <th></th>
      </tr>
    </thead>
    <% if (events.length) { %>
    <tbody>
      <% events.forEach(function(e) { %>
        <tr>
          <td><%= e.venue %></td>
          <td><%= e.city %></td>
          <td><%- e.artists.map(a => `${a.name}`).join(', ')%></td>
          <td><%= e.date.toLocaleString() %></td>
          <td><a href="/events/<%= e._id %>"><%= e.venue %> Venue Page</a></td>
        </tr>
        <% }); %>
    </tbody>
    <% } else { %>
        <h1>No Matching Results</h1>
    <% } %> 
    </table>


<%- include('../partials/footer') %>